<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="MongoDB"
       value="mongodb://appharbor_3c3466c7-6308-4646-82f9-f2a3f03fe811:thrk7ku9kpm3bag0f0ndrhjgdo@ds027799.mongolab.com:27799/appharbor_3c3466c7-6308-4646-82f9-f2a3f03fe811"
       xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <!--<add key="MPUrl" value="init_point" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="MPSandbox" value="false"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>-->
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>