<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MongoDB"
       value="mongodb://appharbor_3c3466c7-6308-4646-82f9-f2a3f03fe811:thrk7ku9kpm3bag0f0ndrhjgdo@ds027799.mongolab.com:27799/appharbor_3c3466c7-6308-4646-82f9-f2a3f03fe811"
       xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.web>
    <!--<customErrors mode="Off" xdt:Transform="Replace"></customErrors>-->
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>