<div class="container">
    <p>ropinhas&copy; @DateTime.Today.Year
        <a class="pull-right" href="mailto:barmic@gmail.com"><i class="glyphicon glyphicon-send"></i>&nbsp;Contact us</a>
    </p>
</div>
