<div class="modal-header green">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Guia de tamanhos</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#sc-baby" data-toggle="tab">Bebê</a></li>
                <li><a href="#sc-toddler" data-toggle="tab">Criança</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="sc-baby">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr><th>Tamanho</th><th>Altura</th><th>Peso</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>P</td><td>ate 43 cm</td><td>ate 2,2 kg</td></tr>
                            <tr><td>NB</td><td>ate 55 cm</td><td>2,2 - 3,6 kg</td></tr>
                            <tr><td>3M</td><td>55 - 61 cm</td><td>3,6 - 5,6 kg</td></tr>
                            <tr><td>6M</td><td>61 - 67 cm</td><td>5,6 - 7,4 kg</td></tr>
                            <tr><td>9M</td><td>67 - 72 cm</td><td>7,4 - 9,2 kg</td></tr>
                            <tr><td>12M</td><td>72 - 77 cm</td><td>9,2 - 11,1 kg</td></tr>
                            <tr><td>18M</td><td>77 - 82 cm</td><td>11,1 - 12,4 kg</td></tr>
                            <tr><td>24M</td><td>82 - 88 cm</td><td>12,4 - 13,6 kg</td></tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="sc-toddler">
                    <table class="table table-condensed table-striped">
                        <thead>
                            <tr><th>Tamanho</th><th>Altura</th><th>Peso</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>2T</td><td>87 - 93 cm</td><td>13,1 - 14,1 kg</td></tr>
                            <tr><td>3T</td><td>93 - 98 cm</td><td>14,1 - 15,4 kg</td></tr>
                            <tr><td>4T</td><td>98 - 105 cm</td><td>15,4 - 17,2 kg</td></tr>
                            <tr><td>5T</td><td>105 - 110 cm</td><td>17,2 - 19,1 kg</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
